<h1>Kittens#new</h1>
<p>Find me in app/views/kittens/new.html.erb</p>

<%= form_with model: @kitten do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  
  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :cuteness %><br>
    <%= form.number_field :cuteness %>
  </div>

  <div>
    <%= form.label :softness %><br>
    <%= form.number_field :softness %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
