<h1>Kittens#new</h1>
<p>Find me in app/views/kittens/new.html.erb</p>

<%= form_with model: @kitten do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @kitten.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age %>
    <% @kitten.errors.full_messages_for(:age).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :cuteness %><br>
    <%= form.number_field :cuteness %>
    <% @kitten.errors.full_messages_for(:cuteness).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :softness %><br>
    <%= form.number_field :softness %>
    <% @kitten.errors.full_messages_for(:softness).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
