<h1>Kittens#show</h1>
<p>Find me in app/views/kittens/show.html.erb</p>

<h1><%= @kitten.name %></h1>

<p>
  <li>Age: <%= @kitten.age %></li>
  <li>Cuteness: <%= @kitten.cuteness %></li>
  <li>Softness: <%= @kitten.softness %></li>
  <li><%= link_to "Edit This Kitten", edit_kitten_path =%></li>
</p>
